html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: grid;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: grid;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}
.page-container {
    display: grid;
   grid-template-columns: 200px 240px 520px;
   grid-template-rows: 150px 100px 100px 200px;
}
header {
    grid-row:1/2;
    grid-column-end:span 4;
    text-align: center;
    background-color: aquamarine;

}
.navbar {
    grid-row: 2/5;
    grid-column: 1/2;
    background-color: white;
}
#pic {
    display: grid;
    grid-area: 2/ 2/ 4 /3;
    width:100px;
    height: 100px;
   



}